VITE_SUPABASE_URL=https://oyxfyfuelukhihmkdfoh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im95eGZ5ZnVlbHVraGlobWtkZm9oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEyMjM4OTMsImV4cCI6MjEwNjc5OTg5M30.IWcua-KPvrhxPG5URWe-51eURqs93LM7hwxdG9SSZeg
SUPABASE_URL=https://oyxfyfuelukhihmkdfoh.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_here
SUPABASE_PUBLISHABLE_KEY=sb_publishable_LPRaqBNIIi2Dr3O2tdA8Vw_PidD8Cqi
NEXT_PUBLIC_COLLEGE_NAME=National Institute of Technology Hamirpur
NEXT_PUBLIC_CURFEW_HOUR=22
NEXT_PUBLIC_CURFEW_MINUTE=00
